/* Exalted Dawn Site Styling */

/* Font Imports */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400italic,700,700italic%7CSource+Sans+Pro:200,200italic,400,400italic');


/* Basic SCSS Style Variables */
$primary-font: 'Montserrat', sans-serif;
$body-color: rgba(44,42,54,0.8);
$primary-color: #1e8dd1;
$secondary-color: #FFCCB0;
$darkened-color: #161718;
$primary-text: #fff;
$secondary-text: #FFCCB0;
$white-text: #fff;
$overlay-color: rgba(0, 0, 0, 0.8);

/* Animation CSS (using AOS animation library) */
[aos = "fade"] 
{
    opacity: 0;
    transition-property: opacity;
}
[aos = "fade"].aos-animate 
{
    opacity: 1;
}

html{ scroll-behavior: smooth; }
body /* CSS for the page body */
{
    font-family: $primary-font;
    background-color: $white-text;
    font-size: .8rem;
    color: $white-text;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: .5rem;

    img, button{ caret-color: transparent; }
}
body::before
{
    content: '';
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgba(191,117,135,0.639) 0%, rgba(214,255,255,0.631) 100%), url("../images/other/page-bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    z-index: -1;
}
body::after
{
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #AB95A5;
    z-index: 1000;
    animation: fadeOut 2.5s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
@keyframes fadeOut
{
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}
@-moz-keyframes fadeOut 
{
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}
@-webkit-keyframes fadeOut 
{
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}
@-o-keyframes fadeOut 
{
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}
@-ms-keyframes fadeOut 
{
    from { opacity: 1; visibility: visible; }
    to { opacity: 0; visibility: hidden; }
}

#scrollToTopBtn
{
    display: none;
    position: fixed;
    bottom: .5rem;
    right: .1rem;
    z-index: 100;
    border: none;
    outline: none;
    background-color: transparent;
    color: $white-text;
    cursor: pointer;

    i
    {
        font-size: 2.5rem;
        border: .1rem solid $white-text;
        border-radius: 100%;
        color: $secondary-color;
        background-color: $white-text;
        padding-right: .01rem;
        padding-top: .01rem;
    }
}

a { color: $primary-text; }
a:hover { color: $secondary-text; text-decoration: none; }

i{caret-color: transparent;}

#pageContent, header, footer{ width: 48rem; max-width: 100%; margin: 0 auto; background: $body-color; border-radius: .5rem; }

.left-content, .right-content
{
    justify-content: center;
    align-self: flex-start;
}

header
{
    //background: $primary-color;
    background: $body-color;
    position: static;
    top: 0;
    left: 0;
    z-index: 300;
    a { color: $white-text; }
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 1rem 1rem 0 0;
    #headerTitle
    { 
        font-size: 1.5rem;
        letter-spacing: .15rem;
        align-items: center;
        text-transform: uppercase;
        padding-top: 1.5rem;
        text-align: center;
        img
        {
            width: 4rem;
            border-radius: 1rem;
            margin-right: .5rem;
        }
    }
    #searchBar 
    {
        .character-search
        {
            border-radius: .5rem 0 0 .5rem;
            border: 2px solid $secondary-color;
            padding: .2rem .5rem;
            max-width: 15rem;
            height: 2.35rem;
            outline: none;
        }
        i
        {
            font-size: 1.2rem;
            border-radius: 0 .5rem .5rem 0;
            background: $secondary-color;
            max-width: 2.25rem;
            padding: .6rem;
        }

    }
}

#pageContent
{
    border-radius: 0 0 1rem 1rem;
}
.swiper-slide-active a
{
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: -1rem;
}
.slide-img-container
{
    overflow: hidden;
    margin: 0 auto;
    border-radius: .5rem;

    img 
    { 
        -webkit-transition: 0.5s all ease-in-out;
        -moz-transition: 0.5s all ease-in-out;
        -ms-transition: 0.5s all ease-in-out;
        -o-transition: 0.5s all ease-in-out;
        transition: 0.5s all ease-in-out;
        width: 100%; 
    }
}
.character-anch
{
    position: fixed;
    top: 35vh;
}
.character-name
{
    font-size: 1.25rem;
    letter-spacing: .15rem;
    margin: 0 auto;
    margin-top: .5rem;
}
.character-bio-box
{
    padding-bottom: 3rem;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
    .character-info{line-height: 1.75rem; width: 100%; }
    .character-image, .character-info
    {
        width: auto;
        height: auto;
    }
    .character-image{ max-height: 20rem; }
    #charImg{ height: 20rem; }
    #charColors
    {
        display: block;
        text-align: center;
    }
    .color-box
    {
        display: inline-flex;
        margin: 0 1rem 1rem 1rem;
        font-size: .8rem;
        height: 4rem;
        width: 4rem;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;
        border: .1rem solid #fff;
    }
}
.backstory-section
{
    width: 85%;
    padding: 5%;
    margin: 2rem auto;
    border: .1rem solid;
    height: 14rem;
    overflow: hidden;
    position: relative;
    background: rgba(0,0,0,.3);

    button
    {
        color: $white-text;
        background: none;
        border: none;
        outline: none !important;
        cursor: pointer;
        line-height: 1rem;
    }

    #backstoryTop
    {
        display: inline-block;
        width: 100%;
        font-size: 1.2rem;

        b{ float: left; }
        /*
        button
        { 
            float: right;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;

            i
            {
                color: $secondary-color;
                background: $white-text;
                border-radius: 100%;
                border: .1rem solid $white-text;
                padding-top: .01rem;
                padding-right: .02rem;
            }
        }
        */
    }

    #continuePreview
    {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        text-align: center;
        box-shadow: 1px 1px 10px #000;
        background: rgba(0, 0, 0, 0.9);
        padding: .5rem 0;
        caret-color: transparent;
    }
}

.swiper1
{
    padding: 3rem 0 2rem 0;
    overflow: hidden;
    position: relative;
}
.swiper-button-next, .swiper-button-prev
{
    top: 42.5%;
    font-size: 2rem;
    color: $secondary-color;
    caret-color: transparent;
    outline: none;
    i
    {
        background-color: $white-text;
        border-radius: 100%;
        border: .1rem solid #fff;
        padding-bottom: .01rem;
        padding-right: .02rem;
    }
}
.swiper-button-next
{
    right: 1rem;
}
.swiper-button-prev
{
    left: 1rem;
}
.swiper-button-next:after, .swiper-button-prev::after
{
    display: none;
}
.swiper-slide
{
    text-align: center;

    .slide-img-container
    {
        width: 65%;
        height: auto;
        border-radius: 1rem;
        border: .25rem solid $white-text;
    }
}
.swiper1 .swiper-slide-active
{
    top: -1rem;

    .slide-img-container
    {
        width: 100%;
    }
}
.swiper-slide-prev, .swiper-slide-next
{
    opacity: .25;
    pointer-events: none;
}
.swiper-pagination-bullet {caret-color: transparent;}
.swiper-pagination-bullet-active{ background-color: $secondary-color; }

footer
{
    background: none;
    color: $white-text;
    position: static;
    bottom: 0;
    left: 0;
    z-index: 300;  
    text-align: center;
    padding: 3rem 0;
    min-height: 5rem;

    a { color: $white-text; }
    a i { font-size: 1.5rem; padding: 0 1rem; }
}

.gallery-header
{
    font-size: 1.2rem;
    letter-spacing: .15rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;

    i{ font-size: .8rem; }
}
#character-img-gallery
{
    position: relative;
    width: 90%;
    margin: 0 auto;

    .mySlides
    {
        display: none;
        margin: 0px auto;
        width: auto;
        height: 100%;
        height: 17rem;
        overflow: hidden;
        align-items: center;
        background-color: rgba(0,0,0,.5);
        border-radius: 1rem;
        animation: fadeIn linear 7s;
        -webkit-animation: fadeIn linear 1s;
        -moz-animation: fadeIn linear 1s;
        -o-animation: fadeIn linear 1s;
        -ms-animation: fadeIn linear 1s;

        .numbertext
        {
            color: $white-text;
            position: absolute;
            top: 0;
            background: $secondary-color;
            font-size: .8rem;
            padding: .5rem 1rem;
            font-weight: bold;
            border: .1rem solid $white-text;
            min-height: 2rem;
            width: 5rem;
            text-align: center;
            border-radius: 1rem 0 1rem 0;
            caret-color: transparent;
        }

        a
        {
            width: 100%;
            height: 100%;
        }

        img
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .artist-name
        {
            position: absolute;
            top: 14rem;
            padding: 0.5rem;
            border-radius: 1rem;
            text-shadow: 0.1rem 0.1rem 1rem #000;
            background-color: rgba(0,0,0,0.7);
            border: 0.1rem solid #fff;
            width: fit-content;
            width: -moz-fit-content;
            min-width: 10rem;
            text-align: center;
            margin: 0 auto;
            left: 0;
            right: 0;
            font-size: .7rem;

            a{ color: $secondary-color; }
        }
    }

    .row
    {
        margin-top: .5rem;
        justify-content: center;

        .art-thumbnail
        {
            cursor: pointer;
            height: auto;
            width: 25%;
            padding: 0 .25rem;
        }
        .art-thumbnail img
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: .6;
            border-radius: 1rem;
            border: .1rem solid $white-text;
            overflow: hidden;
            font-size: 0;
        }
        .art-thumbnail.active img
        {
            opacity: 1;
            box-shadow: 1px 1px 10px $secondary-color;
        }
        .responsive-divider
        {
            display: inline-block;
            width: 100%;
            height: .5rem;
        }
    }
}

@keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes fadeIn 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.swiper-slide .art-thumbnail 
{
    width: auto;
    height: auto;
    border-radius: 1rem;
}

@media (min-width: 360px) /* Breakpoint for Small Devices and up (Modern phones & up) */
{
    #character-img-gallery
    {
        position: relative;
        width: 80%;
        margin: 0 auto;
    
        .mySlides
        {
            margin: 0px auto;
            width: 18rem;
            height: 18rem;
    
            .numbertext
            {
                color: $white-text;
                font-size: 1rem;
                padding: .5rem 1rem;
                min-height: 2rem;
                width: 6rem;
                text-align: center;
                border-radius: 1rem 0 1rem 0;
            }
    
            a
            {
                width: 100%;
                height: 100%;
            }
    
            img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
            .artist-name
            {
                top: 15rem;
                padding: 0.5rem;
                border-radius: 1rem;
                text-shadow: 0.1rem 0.1rem 1rem #000;
                width: fit-content;
                width: -moz-fit-content;
                min-width: 12rem;
                font-size: .7rem;
            }
        }
    
        .row
        {
            justify-content: center;
    
            .art-thumbnail
            {
                padding: 0 .25rem;
            }
            .art-thumbnail img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
                opacity: .6;
            }
            .art-thumbnail.active img
            {
                opacity: 1;
                box-shadow: 1px 1px 10px $secondary-color;
            }
        }
    }
}
@media (min-width: 768px) /* Breakpoint for Medium Devices and up */
{
    body
    {
        font-size: 1rem;
    }
    .swiper-button-next, .swiper-button-prev
    {
        font-size: 2.5rem
    }
    .swiper-button-next{ right: 1.5rem; }
    .swiper-button-prev{ left: 1.5rem; }
    .swiper-slide-active a
    {
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    .character-name
    {
        font-size: 1.5rem;
    }
    .character-bio-box
    {
        #charColors{ text-align: left; }
        .character-image{ max-height: 28rem; }
        #charImg{ height: 28rem; }
        .color-box { margin: 0 1rem 1rem 0; }
    }
    .backstory-section
    {
        button:hover{ color: $secondary-color; }
    }
    #character-img-gallery
    {
        position: relative;
        width: 65%;

        .row
        {
            .art-thumbnail
            {
                width: 15%;
                img
                {
                    font-size: .8rem;
                } 
            }
            .responsive-divider{ display: none; }
            margin-top: 1rem; 
        }
        .mySlides
        {
            width: 30.5rem;
            max-height: 30.5rem;
            height: 30.5rem;

            .artist-name
            {
                top: 27rem;
                min-width: 15rem;
                font-size: 1rem;
            }
            .numbertext
            {
                width: 8rem;
                font-size: 1.25rem;
            }
        }
    }
}
@media (min-width: 992px) /* Breakpoint for Large Devices and up */
{
    body
    {
        padding: 3.5rem;
        padding-bottom: 0;
    }
    header
    { 
        margin-top: 0;
        position: static; 
    }
    footer
    { 
        position: static; 
        background: none;
    }
    .swiper-slide-active a:hover
    { 
        img
        { 
            transform: scale(1.5);
        }  
    }
    .swiper-button-next, .swiper-button-prev
    {
        i
        {
            opacity: .75;
        }
        :hover
        {
            opacity: 1;
            box-shadow: 1px 1px 10px $white-text;
        }
    }
    #backstoryTop
    {
        button
        {
            i:hover
            {
                box-shadow: 1px 1px 10px $white-text;
            }
        }
    }

    #character-img-gallery
    {
        .mySlides
        {
            height: 32.5rem;
            .artist-name
            {
                a
                { 
                    color: $white-text; 
                }
                a:hover{ color: $secondary-color; }
            }
        }
        .row
        {
            .art-thumbnail:hover
            {
                img
                {
                    -webkit-transition: 0.5s all ease-in-out;
                    -moz-transition: 0.5s all ease-in-out;
                    -ms-transition: 0.5s all ease-in-out;
                    -o-transition: 0.5s all ease-in-out;
                    transition: 0.5s all ease-in-out;
                    opacity: 1;
                    transform: scale(1.5);
                    z-index: 10000;
                }
            }
        }
    }
    #scrollToTopBtn
    {
        bottom: 1rem;
        right: 1rem;
        z-index: 100;
    
        i
        {
            font-size: 3rem;
            top: 0;
            -webkit-transition: top 0.3s ease-out;
            -moz-transition: top 0.3s ease-out;
            -ms-transition: top 0.3s ease-out;
            -o-transition: top 0.3s ease-out;
            transition: top 0.3s ease-out;
            position: relative;
        }
        i:hover
        {
            box-shadow: 1px 1px 10px $white-text;
            top: -.35rem;
        }
    }
}
@media (min-width: 1200px) /* Breakpoint for X-Large Devices and up */
{

}
